$font-primary: "Tahoma", sans-serif;

body {
    background-color: #f2f2f2;
}

.main {
    width: 80%;
    margin: 0px auto 0px auto;
    background-color: white;
    padding-top: 25px;
    height: 100%;
}

.header {
    text-align: center;
    margin: 0;
    font-family: $font-primary;
    letter-spacing: 1.2px;
}

.email {
    text-align: center;
    margin-top: 5px;
    font-family: $font-primary;
}

.profile-img {
    width: 40%;
    border-radius: 2%;
    display: block;
    margin: 30px auto 0px auto;
}

.social__container {
    display: flex;
    justify-content: center;
    align-items: center;

    .fab {
       &:before {
           font-size: 40px;
           margin: 0 20px 0 20px;
       }
       &:hover {
           color: #595959;
       }
    }
}

.social__link {
    color: black;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    margin: 10px auto 10px auto;

    &__item {
        margin: 10px 15px 0 10px;

        &--heading {
            text-align: center;
            margin-top: 10px;
            font-family: $font-primary;
        }
    }

    &__title {
        text-align: center;
        margin-top: 40px;
        font-family: $font-primary;
    }
}